testing/LPMPaymentRequest/RequestForPayment.xes
testing/LPMPaymentRequest/RequestForPayment_completeLPMs_aggregated.csv
testing/LPMPaymentRequest/RequestForPayment_completeLPMs_converted.xes
testing/LPMPaymentRequest/RequestForPayment_completeLPMs_compressed.xes

testing/BPI12_w

source/__pycache__

Relazione.zip

Presentazione.pptx
~$Presentazione.pptx

.vscode