Presentazione.pptx
~$Presentazione.pptx
algoritmo_solo_compressione.zip

source/__pycache__

testing/PaymentRequest_completeLPMs_Aggregated.xes
testing/RequestForPayment.xes

print_lpm.py
subdue_extended_riserva.py